@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  
}
/* left-side */
.logo{
  color: #fff;
}
.left-sidebar {
  position: fixed;
  overflow:hidden; /* Cho phép cuộn theo chiều dọc nếu nội dung quá dài */
  border-right: 1px solid #ccc; 
  z-index: 1; /* Đảm bảo sidebar nằm trên cùng */
  padding-top: 10px; /* Khoảng cách trên */
  height: 100%;
}
.left-sidebar a{
  color:  rgba(229, 229, 229, 0.5);
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: background-color 0.3s ease; 

}

.left-sidebar a:hover {
  background-color:  rgba(229, 229, 229, 0.5);
  color: #f9f9f9;
} 

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
  color: #625b59;
}

/* Phần phân cách */
.divider {
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav-item.hidden {
  display: none;
}
.transition {
  transition: all 0.3s ease;
}

.user-image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.down{
  font-size: large;
  margin-left: 50px;
}
.new-btn{
  position: absolute;
  bottom: 10px;

}
/* mainside */
.main-sidebar{
  overflow-y: auto;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  color:  rgba(229, 229, 229, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: background-color 0.3s ease;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #ccc;

}
.nav-item a{
  color: #f1f1f1;
}
.main-nav a:hover{
  background-color:  rgba(229, 229, 229, 0.5);
  color: #f1f1f1;
}

.configure{
  font-size: large;
  color: #e1cccc;
}
.configure:hover{
  color: rgb(80, 80, 213);
  cursor: pointer;
}

/* right side bar */
.right-sidebar{
  position: fixed;
  border-left: 1px solid #ccc;
  height: 100%;
  overflow:hidden;
  z-index: 1; 
  max-width: 300px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  position: relative;
  margin:  0 0 0 10px;
}
.search-input {
  width: 280px;
  padding: 5px 0 5px 30px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin:  10px 0 0 0 ;
  font-family: "Poppins", sans-serif;
}
.search-icon{
  position: absolute;
  top: 15px;
  left: 5px;
  font-size: 20px;
  color: #a7a2a2;
  transition: color 0.3s;
}
.trending {
  width: 280px;
  margin: 15px;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  border-radius: 10px;
}

.trend-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffcc00;
}

.trend-container {
  margin-top: 20px;
}

.trend-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.trend-item:hover {
  background-color: #7d8792;
  color: #ffffff;
  cursor: pointer;
}

.trend-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
}

.trend-public h5 {
  margin: 0;
  font-size: 1rem;
  color: #ffcc00;
}

.trend-public p {
  margin: 0;
  color: #cccccc;
  font-size: 0.8rem;
}

.trend-action {
  margin-left: auto;
  display: flex;
  align-items: center;
  
}

.trend-action .folow {
  margin-right: 10px;
  color: #625b59;
}
.trend-action .folow:hover{
  color: #feefef;
}
.trend-action .fa-x {
  color: #625b59;
  cursor: pointer;
}

.trend-action .fa-x:hover {
  color: #ffffff;
}

/* main -container */
.m-container{
  flex-grow: 1;
  color:#e5e5e5;

  margin: 10px 0 0 0;
}
.container-group{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: background-color 0.3s ease;
  background-color: rgba(229, 229, 229, 0.5); /* Màu nền gần như trong suốt */
  border-radius: 10px;
  position: relative;
  width: 100%;
}
.m-contents{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.m-title{
  display: flex;
  gap: 5px;
  margin: 0 0 10px 0;
  align-items: center;
}
.m-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.m-action{
  font-size: 2rem;
  margin-right: 10px;
  transition: color 0.3s;
  color: #625b59;
  cursor: pointer;
}
.m-action:hover{
  color: #feefef;
}
.p-image{
  width: 100%;
  margin: 0 0 10px 0;
}
.p-action{
  display: flex;
  gap: 20px;
  flex-direction:row;
  justify-content: flex-end;
  margin: 10px;
  font-size:25px;

}
.p-total{
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  background-color: #625b59;
  margin: 0 0 0 10px;
  border-radius: 10px;

}
.p-title{
  color: #000;
}
.p-action i{
  color: rgba(229, 229, 229, 0.5); /* Màu nền gần như trong suốt */

}
.p-action i:hover{
  color: #feefef;
  cursor: pointer;
}
/* CommentModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  width: 50%;
  padding: 20px;
  height: 500px;
  border: 1px solid #fff;
  color: #e5e5e5;
  background-color: #f3eeee;
  margin-left: 322px;
  border-radius: 10px;
  overflow-y:auto; 
}
.m-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.comment-icon{
  margin-top: 7px;
}

/* like */
.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-button i {
  font-size: 24px;
  margin-right: 8px;
  color: rgba(229, 229, 229, 0.5); /* Màu nền gần như trong suốt */
}

.like-button i.liked {
  color: #007bff; /* Màu khi đã thích */
}

.like-button span {
  font-size: 16px;
}
